*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'CircularStd', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

.container{
    width: 1200px;
    padding: 0 30px;
}

.list-sty{
    list-style-type: none;
}

#products{
    padding-top: 100px;
}

.item-portion{
    width: 360px;
    height: 241px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    padding: 0 10px;
}

.item-portion:hover{
    box-shadow: 0px 9px 14px -1px rgba(253, 148, 122, 0.26);
    border: none;

}

.products-title{
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #170C04;
    margin-bottom: 11px;
}

.products-text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #170C04;
    opacity: 0.6;
    margin-bottom: 24px;
}

.products-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #e27b3a;
    margin-bottom: 18px;
}


.products-img{
    width: 37px;
    height: 37px;
   
}

.img-block{
    content: '';
    display: inline-block;
    width: 63px;
    height: 54px;
    background-image: url('../images/Vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 20px;
    
}

.products-item:nth-child(2) .item-portion .products-img{
    width: 53px;
    height: 53px;
}

